/* 行首缩进 - 开始 */

p {
    text-indent: 2em;
}

/* blockquote>p {
    text-indent: 0em;
} */

li>p .admonition-title {
    text-indent: 0em;
}

/* 防止将图片也给缩进 */
p>img {
    display: block
}

/* 行首缩进 - 结束 */
/* -------------------- 分割线 -------------------- */
/* 勾选框位置调整 - 开始 */

.md-typeset .task-list-item [type="checkbox"] {
    top: .1em;
}

/* 勾选框位置调整 - 结束 */
